<!DOCTYPE html>
<html lang="en">
<title>About Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px" bgcolor="#FFC300">
  <h1 class="w3-margin w3-jumbo">About PAGE</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Alpha-Cube</h1>
      <h5 class="w3-padding-32">We at Alpha Cube belive that enabling effecient communication between affected regions and 
      relief camps will solve a major problem during natural disasters . </h5>

      <p class="w3-text-grey">During any disaster the communication between the relief forces and victims becomes a major problem due to low network connectivity. Also many lives are lost due to lack of proper evacuation and placement of the relief camp. Our idea is to solve this problem by creating a USSD based messaging service which aims to bring faster connectivity between victim and relief forces. We want to focus on usability in low connection situations. We are  working on giving the best location for the Emergency response team and computing the evacuation paths effectively during various natural tragedies.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'signal.png' %}" alt="signal" height="400" width="350">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>

    <div class="w3-twothird">
      <h1>Technologies Used</h1>
      <h4 class="w3-text-grey">1) Africa Talking API -  To simulate USSD (Unstructured Supplementary Service Data) application</h3>
      <h4 class="w3-text-grey">2) Bing Maps -  To display the locations of stranded people .</h3>
      <h4 class="w3-text-grey">3) Django - Python Web Framework</h3>
    </div>
  </div>
</div>
</body>
</html>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
    <h1>User Guide</h1>
    <h4>Step 1 - Download the Africa Talking App from playstore </h4>
    <h4>Step 2 - Login with your Mobile Number and then chose USSD </h4>
    <h4>Step 3 - Enter *384*3833#</h4>
    <h4>Step 4 - It has 2 Parts </h4>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'manual1.png' %}" alt="signal" height="350" width="300">
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
    <h1>Part 1</h1>
    <h3>Press 1 to ask for support </h3>
    <h3><i>It will be recorded in our database and the victim's location will be shown on our map , this location is chosen randomly .</i></h3>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'press1.png' %}" alt="signal" height="300" width="250">
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
    <h1>Part 2</h1>
    <h3>Press 2 to get updates </h3>
    <h3><i>Using the updates form , the response team will be posting updates on our website , ensuring that the user gets the most 
    recent updates through USSD .</i></h3>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'update.jpg' %}" alt="signal" height="300" width="300">
    </div>
  </div>
</div>
