<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alphacube</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        body{
            background-image: url( "{% static 'tile.jpg' %}");
        }
    </style>
</head>
<body>
    <div class="container">
            <h1 id="title">ALPHACUBE</h1>
            <h3 id="subtitle">A solution that provides a bridge between relief team and the stranded region</h3>
            <button><a href="#">Post an Update</a></button>
            <button><a href="/map/">Show map</a></button>
            <button><a href="#">How it works</a></button>
    </div>
</body>
</html>